*~
*.[oa]
*.lo
*.la
*.m4
*.exe
*.gz
*.zip
.hg
config
m4
Makefile
bin
config.*
autom4te.cache
.libs
.deps
autom4te.cache
ltmain.sh
install-sh
depcomp
ylwrap
libtool
stamp-h1
missing
.dirstamp
po/share
Makefile.in
configure
dos9/Makefile.in
dos9ize/Makefile.in
dump/Makefile.in
libDos9/Makefile.in
libcu8/Makefile.in
libcu8/configure
libcu8/src/Makefile.in
libcu8/test/Makefile.in
libinteval/Makefile.in
libmatheval/Makefile.in
libmatheval/configure
libmatheval/doc/Makefile.in
libmatheval/lib/Makefile.in
libmatheval/libmatheval.pc
libmatheval/tests/Makefile.in
tea/Makefile.in
po/pot