*.o
*.a
*.exe
bin/
femto-config.mk
config.c
config.h
libcu8/config.h
libcu8/config.c
libcu8/test/log_msg
libinteval/lexer.c
libinteval/parser.c
libinteval/parser.h
libmatheval/config.c
libmatheval/config.h
libmatheval/lib/parser.c
libmatheval/lib/parser.h
libmatheval/lib/scanner.c
po/pot/
po/share/
a.out
dos9/dos9
dos9ize/dos9ize
dump/dump
tea/tea

build-dbg\.sh

build-musl\.sh
